

<div class="container">				
				<div class="row">
					
					
					<div class="col-12 list-view">
					
						<div class="product-item">
							
							<div class="product-item-image-wrapper">
								<a title="" href="tovar.html" class="product-item-image"><img src="https://shop.lonmadi.ru/uploads/img/grid/00000012480.jpg" alt=""/></a>
								<div class="row text-center align-items-center not-avaliable"><div class="col"><b>Снят с производства</b><br><small>Смотрите <a href="#">123423</a></small></div></div>
							</div>
							
							<div class="product-item-title-wrapper">
								<a title="" href="tovar.html" class="product-item-title">Ручной подкачивающий насос в сборе (5411662047) здесь очень длинное название название запчасти в несколько строчек</a>
								<div class="product-item-artnum">
									<div>Артикул: 01148677</div> 
									<div class="text-truncate">Бренд: DEUTZ очень длинное название бренда</div>
								</div>
							
								<div class="row mt-3 mb-2">
									<div class="col-7"><!--<span class="avaliable">в наличие</span>!--><span class="order-only">на заказ 4-60 дн</span></div>
									<div class="col-5 text-right"><span class="analog product-dop-watch" data-title="Аналоги для 02111961" data-url="ajax-analogs.html" data-article="02111961">Аналоги</span></div>
								</div>
							</div>	
							
							<div class="product-item-buy-wrapper">
								<u class="d-inline-block product-item-price-old price">150 450.56</u>
								<span class="d-inline-block product-item-price price">101 390.00</span>
								<!--<div role="button" class="get-price mt-2">Узнать цену</div>!-->
								
								<div class="row mt-3 align-items-center product-item-btns">
									<div class="col-8 pr-0">
										<button class="btn btn-default product-item-buy">Купить</button>
										<div class="d-none">
											<div class="counter_box">
												<button type="button" class="counter_ctrl minus">-</button>
												<input type="text"  maxlength="2" class="counter_input" value="1" data-min="1" data-max="99">
												<button type="button" class="counter_ctrl plus">+</button>
											</div>
											<button data-toggle="tooltip" title="Товар в корзине" class="btn btn-default product-item-buy in-cart"></button>
										</div>
									</div>
									<div class="col-4 text-right">
										<i data-toggle="tooltip" title="В избранное" data-in="В избранное" data-out="Товар в избаранном" class="to-wish-list far fa-heart"></i>
									</div>
								</div>
							</div>

						</div>
						
						
				</div>
				
					
				</div>
</div>				
		





