

<div class="m-3"><input type="text" placeholder="поиск модели" class="form-control usage-search"></div>

<div class="usage mt-3 mr-3 ml-3 d-none d-sm-block">
	<table class="table table-hover table-sm text-center mb-0">
		<tr>
			<th>Модель</th>
			<th>Модификация</th>
		</tr>
	</table>
</div>

<div class="usage mb-3 mr-3 ml-3">
	<div class="title">Экскаваторы-погрузчики</div>
	
			<table class="table table-hover table-sm">
				<tr>
					<td>3CX</td>
					<td>3CX Super, 3CX CO, 3CX 4T</td>
				</tr>
				<tr>
					<td colspan="2">Caterpillar 432D</td>
					
				</tr>
<tr>
					<td colspan="2">JCB 1CX</td>
					
				</tr>
<tr>
					<td colspan="2">JCB 2CX</td>
					
				</tr>
<tr>
					<td colspan="2">JCB 3CX</td>
					
				</tr>
<tr>
					<td colspan="2">JCB 4CX</td>
					
				</tr>
<tr>
					<td colspan="2">JCB 5CX</td>
					
				</tr>
<tr>
					<td colspan="2">JCB MIDI CX-4</td>
					
				</tr>
<tr>
					<td colspan="2">TEREX TLB825</td>
					
				</tr>
				
			</table>

</div>


<div class="usage mb-3 mr-3 ml-3">
	<div class="title">Гусеничные экскаваторы</div>
	
			<table class="table table-hover table-sm">
				<tr>
					<td colspan="2">EXMACH E200C</td>
					
				</tr>
				<tr>
					<td colspan="2">EXMACH E240C</td>
					
				</tr>
<tr>
					<td colspan="2">JCB JS160LC</td>
					
				</tr>
<tr>
					<td colspan="2">JCB JS160NLC</td>
					
				</tr>
<tr>
					<td colspan="2">JCB JS190NLC</td>
					
				</tr>
<tr>
					<td colspan="2">JS240LC</td>
					
				</tr>
<tr>
					<td colspan="2">JCB JS360LC</td>
					
				</tr>
<tr>
					<td colspan="2">JS205NLC</td>
					
				</tr>
			</table>

</div>




