.header-mini-card {
	border-bottom: 1px solid #dedede;
	padding:10px;
}
.header-mini-card .title {display:block;font-weight:bold;padding-bottom:5px;}
.header-mini-card small {display:block;}




.mini-item {margin:0px 30px;border-bottom:1px solid #ededed;padding:15px 0px;font-size:13px;}
.mini-item .mini-title {font-size:13px;color:#999;}
.mini-item img {margin-bottom:15px;}
.page-content .mini-item {margin:0px;font-size:15px;}
.mini-item:last-child {border-bottom:0px;}
.mini-item .price {font-size:16px;font-weight:bold;}
.mini-item .mini-delete {float:right;cursor:pointer;padding-right:20px;font-size:14px;}
.mini-item .onstock {color:#308346;}
.mini-item .onstock.ave:before {content:"\F12C";font-family:mdi;padding-right:5px;}


.category-item {
    height: 100%;
    border: 1px solid #ebebef;
    padding: 20px;
    text-align: center;
    background: #fff;
    position: relative;
}
.category-item a {display:block;}
.category-item:hover {
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
}



/* ---------------------------------------------------
    Product item
----------------------------------------------------- */

.product-item {
	transition: box-shadow 0.3s ease;
	padding: 20px;
	border: 1px solid #ebebef;
	background: #fff;
    position: relative;
	height: 100%;
}
.last-seen .product-item {margin:5px;}
.list-view  {
	width:100% !important;
	max-width:100%;
	flex:100%;
}
.list-view .product-item-image-wrapper, .list-view .product-item-title-wrapper, .list-view .product-item-buy-wrapper {
	float:left;
}
.list-view .product-item-image-wrapper {width:25%;}
.list-view .product-item-buy-wrapper {width:25%;}
.list-view .product-item-title-wrapper {width:50%;padding:0px 30px;}
.list-view .product-item-title {min-height:auto;padding-bottom:20px;}
.list-view .text-right {text-align:left !important;}
.list-view .get-price {margin-top:0px !important;}
.list-view .product-item-btns .col-8, .list-view .product-item-btns .col-4 { float:left; width:auto;max-width:none;flex:none;}
.list-view .product-item-btns .col-4 {padding-left:30px;}
.list-view .product-item-btns .col-8 {padding-bottom:20px;}

.product-item-image-wrapper {position:relative;}

.not-avaliable { position:absolute;left:0;top:0; width:100%;height:100%;margin: 0; padding: 0; }
.not-avaliable:before {content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:#fff;opacity:0.9;z-index:0;}
.not-avaliable a {font-weight:bold;color:#ffc009;}

.product-item:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.product-item .avaliable, .product-item .order-only, .product-item .analog {font-size:12px;}
.product-item .analog {cursor:pointer;}
.product-item .analog:hover {color:#ffc009;}
.product-item-image {	
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;
}
.product-item-image:hover {
    opacity: 0.7;
}
.product-item-title {
    position: relative;
    display: block;
	display: -webkit-box;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 5px;
    height: 70px;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.product-item-artnum {
    display: block;
    font-size: 14px;
    color: #b5b5b5;
    font-weight: 500;
	margin-bottom:5px;
}
.product-item-price-old {
    background-color: #f8e7af;
    border-radius: 20px;
	font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    padding: 0 10px;
    margin-right: 10px;
    text-decoration: line-through;
}
.product-item-price-old:after {font-weight: 300;font-size: 13px;text-decoration:none;margin-top:-10px;display:inline-block;}
.product-item-price {
    font-size: 25px;
    font-weight: 800;
    white-space: nowrap;
	position:relative;
}
.product-item-price:after {font-size:20px;position:absolute;top:5px;}
.product-item-buy {
	border-radius:3px;
	font-size:20px;
}
.product-item-buy.in-cart {
	float:left;
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
}
.product-item-buy.in-cart:hover {background:#ffc009;color:#000;}
.product-item-buy.in-cart:before {font-family:'fa5p';content:'\f00c';font-size:20px;}
.product-item .to-wish-list {font-size:25px;color: #b5b5b5;cursor:pointer;}
.product-item .to-wish-list:hover, .product-item .to-wish-list.fas {color:#ffc009;}
.get-price {font-weight:bold;font-size:20px;}
.get-price:hover {color: #ffc009;}

.counter_box {
    float:left;
	position: relative;
	width:76px;
}
.counter_ctrl {
    position: absolute;
    top: 0;
    width: 26px;
    height: 100%;
    background: none;
    border: none;
    color: #8b8b8b;
}
.counter_ctrl.minus {
    left: 0;
    text-align: right;
}
.counter_input {
	
    width: 76px;
    height: 52px;
    border: 1px solid #eaeaea;
	border-right:0px;
    text-align: center;
    border-radius: 6px 0 0 6px;
}
.counter_ctrl.plus {
    right: 0;
    text-align: left;
}

@media(max-width:768px){
    
   .list-view .product-item-image-wrapper {width:100%;float:none;}
	.list-view .product-item-buy-wrapper {width:100%;float:none;}
	.list-view .product-item-title-wrapper {width:100%;padding:0px;float:none;}
	.list-view .text-right {text-align:right !important;}
	.list-view .get-price {margin-top: .5rem !important;}
}

.last-seen .arrow {position:absolute;right:5px;top:10px;font-size:30px;cursor:pointer;color:#999;}
.last-seen .arrow:hover {color:#000;}
.last-seen .arrow.fa-chevron-square-left {right:40px;}

.change-view {font-size:20px;padding-left:5px;cursor:pointer;color:#999;}
.change-view.active {color:#000;}


/* ---------------------------------------------------
    Product card
----------------------------------------------------- */
.product-img {position:relative;padding-bottom:15px;}
.product .to-wish-list {
    color: #666;
    cursor: pointer;
	padding-bottom:5px;	
}
.product .to-wish-list:hover, .product .to-wish-list.fas, .product-wish.in {color:#ffc009;}
.product .product-item-price {font-size:30px;}
.product .product-item-price:after {font-size:24px;}
.product-card-slider-item {opacity:0.3;cursor:pointer;text-align:center;  }
.product-card-slider-thumbs .product-card-slider-item {border:1px solid #dedede;}
.product-card-slider-item img {display:inline-block;}
.product-card-slider-item.slick-current {opacity:1;}
.product-card-slider-thumbs .product-card-slider-item {margin:5px;}

.price-block {
	margin-bottom:20px;
    padding: 20px;
   /* box-shadow: 0 1px 8px 0 rgba(0,0,0,.06), 0 2px 2px 0 rgba(0,0,0,.12); */
	border: 1px solid #ebebef;
}

.counter_big_box {
    width: 148px;
    display: flex;
    border-radius: 6px;
    border: 1px solid #eaeaea;
    overflow: hidden;
	margin-bottom:5px;
}
.counter_big_ctrl.minus {
    border-right: 1px solid #eaeaea;
}
.counter_big_ctrl {
    width: 34%;
    height: 51px;
    background: #fff;
    border: none;
    font-weight: 500;
    transition: none;
    font-size: 22px;
    color: #8b8b8b;
}
.counter_big_input {
    width: 34%;
    height: 51px;
    background: #fff;
    text-align: center;
    border: none;
    font-weight: 500;
}
.counter_big_ctrl.plus {
    border-left: 1px solid #eaeaea;
}
.counter_big_ctrl {
    width: 34%;
    height: 51px;
    background: #fff;
    border: none;
    font-weight: 500;
    transition: none;
    font-size: 22px;
    color: #8b8b8b;
}
.counter_big_ctrl:hover {
    background-color: #f1f1f1;
}
.harak a {text-decoration:underline;}
.harak a:hover {color: #ffc009 !important;}
.harak table {
    width: 100%;
	margin-bottom:15px;
}
.harak table td {
    width: 50%;
    vertical-align: top;
    padding: 10px 0;
	border-bottom: 1px solid #ebebef;
}
.harak table td:last-child, .harak table td:last-child a {
	color:#666;
}
.watch-all {color:#000;padding-top:20px;font-weight:bold;font-size:13px;cursor:pointer;}
.watch-all:hover {color: #ffc009;}

.price-block .in-cart:before {padding-right:5px;}
.price-block .in-cart { border-radius:3px; }
.price-block .product-item-buy {min-width:148px;}

.usage {}
.usage .title {font-weight:bold;padding:10px 0px;font-size:14px;}
.usage td, .usage th {font-size:13px;width:50%;}
.usage th {font-size:18px;background:#f4f4f4;}
.usage-search {width:100%;}


/* ------------------------------------------
vin-tovar
---------------------------------------------*/

.vin-item {
	transition: box-shadow 0.3s ease;
	border: 1px solid #ebebef;
	height: 100%;
	display:block;
	background-color: #FFCD03;
}
.vin-item .img {height:200px;width:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;background-color:#fff;overflow:hidden;border:10px solid #fff;}
.vin-item .title {text-align:center;padding:15px;}
.vin-item:hover {
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	color:#000;
}

.vin-tovar-item {
    border-bottom: 1px solid #ebebef;
    padding: 20px 0px;
    position: relative;
}
.vin-tovar-item.not-found, .vin-tovar-item.not-found:hover {
	background-color: #f8d7da;
}
.vin-tovar-item:hover {
    background: #fcfcfc;
}

.vin-tovar-item .get-price {
    font-weight: normal;
    text-decoration: underline;
    font-size: 16px;
    cursor: pointer;
}

.vin-group {
	transition: box-shadow 0.3s ease;
	border: 1px solid #ebebef;
	padding:20px;
	margin-bottom:20px;
}
.vin-group:hover {
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.vin-group .title {font-size:20px;padding-bottom:20px;font-weight:bold;}
.vin-group a {color:#666;font-size:14px;}
.vin-group li {margin-bottom:5px;}