.grecaptcha-badge {
    display: none;
}
#infinityCallback {
	padding: 0px;
	border-radius:10px;
}	
#infinityCallback a{outline: 0; }
#infinityCallback .wrapper {
	min-width:600px;
	padding:0px;
	position:relative;
}	
#infinityCallback .wrapper.oprator1 {
	background: url(../img/operator1.jpg) bottom right no-repeat;
}	
#infinityCallback .call-to-action {
	background:#FFC009;
	padding:20px;
	line-height: 30px;
font-size:22px;	
}	
#infinityCallback .call-to-action span {
	display:block;
	font-weight:bold;
	font-size:25px;
}
#infinityCallback .agreement { max-width:60%;font-size:13px; color: #999;padding:10px 0px;margin-left:20px;margin-bottom:20px;margin-right:20px;}	
#infinityCallback .agreement a {color:#999;text-decoration:underline;}

#infinityCallback form {max-width:60%; margin-left:20px;margin-top:10px;}

#infinityCallback .form-group { margin-bottom:0px;}
#infinityCallback .form-group .form-control { 
	margin: 10px 0;
    outline: none;
    border-radius: 5px;
	display: block;
    width: 200px;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
   border: 1px solid #8f9496;
    box-sizing: border-box;
}

#infinityCallback .choose {
		height: 15px;
		margin: 15px 0 10px 0;
}
#infinityCallback .choosetime {
	display: inline-block;
	float: left;
	margin-right: 15px;
	
}

#infinityCallback .time {display:none;}
#infinityCallback .time ul {margin:0px;padding:0px;list-style:none;}
#infinityCallback .time ul li {float:left;}
#infinityCallback .time ul:after {
    content: '';
    display: block;
    clear: both;
}

#infinityCallback .timercontainer {
    font-size: 18px;
    line-height: 20px;
    color: #8f9496;
	box-sizing: border-box;
	border: 1px solid #8f9496;
	border-radius: 5px;
	margin: 5px 5px 5px 0px;
    width: 130px;
    height: 40px;
	text-align:center;
	position:relative;
	overflow:hidden;
}

#infinityCallback .timercontainer .toggles {
    position: absolute;
    width: 32px;
    height: 17px;
    border: none;
    background: none;
    padding: 0;
    outline: none;
    cursor: pointer;
}
#infinityCallback .timercontainer .toggles>svg {
    width: 16px;
    height: 16px;
}
#infinityCallback .toggles:hover {background:#ccc;}

#infinityCallback .toggles.minup { right:0px;top:0px;  -webkit-transform: rotate(180deg);
    transform: rotate(180deg);}	
#infinityCallback .toggles.mindown { right:0px;bottom:0px;}	
#infinityCallback .toggles.hourup { left:0px;top:0px;  -webkit-transform: rotate(180deg);
    transform: rotate(180deg);}	
#infinityCallback .toggles.hourdown { left:0px;bottom:0px;}	

#infinityCallback .timercontainer input {
	display:inline-block;
	width:20px;
	border: none;
	line-height: 25px;
	font-size: 18px;
	text-align: center;
	outline: none;
	margin-top:7px;
	height:auto;
	padding:0px;
}

#infinityCallback .available {font-size:14px;padding-top:6px;padding-left:15px;}

#infinityCallback .btn-primary {
	position:relative;
    padding: 10px 15px;
	padding-left:50px;
    color: #fff;
	font-weight:bold;
    background-color: rgb(255, 192, 9);
    border-color: rgb(255, 192, 9);
	border-radius: 8px;
	font-size: 16px;
	margin:10px 0px;
	cursor:pointer;
}
#infinityCallback .btn-primary svg {width:30px;position:absolute;left:10px;top:3px;}


.infinity-call-button {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	position: fixed;
	z-index:999;	
	cursor: pointer;
}
.infinity-call-button.animated { animation: pulse 2s infinite ease; }
.infinity-call-button.paused { animation: pulse 0s infinite ease; }

.infinity-call-button.blured { filter: blur(2px);-webkit-filter: blur(2px); }
.infinity-call-button .call-back {
	width: 40px;
	height: 40px;
	position: absolute; 
	border:1px solid #000;
	top: 0;
	left: 0;
	background-image:none;
	background: #FFC009;
	-webkit-animation:hoverWave linear 1s infinite;
	animation:hoverWave linear 1s infinite;
	border-radius: 20px;
	box-shadow: 6px 6px 0 20px rgba(255, 192, 9, 0.3);
}
.infinity-call-button svg{
	width: 20px;
	height: 20px;
	position: absolute; 
	top: 8px;
	left: 10px;
	transition: .5s ease-in-out;
	 animation: 1200ms ease 0s normal none 1 running shake;
	animation-iteration-count: infinite;
	-webkit-animation: 1200ms ease 0s normal none 1 running shake;
	-webkit-animation-iteration-count: infinite;
}
.infinity-call-button.bottom-right {
	bottom: 70px;
	right: 20px;
}
.infinity-call-button.bottom-center {
	bottom: 20px;
	right: 50%;
}
.infinity-call-button.bottom-left {
	bottom: 20px;
	left: 20px;
}

.speech-bubble {
	display:none;
	position: fixed;
	z-index:1000;
	bottom:20px;
	width: 260px;
	background: #FFC009;
	border-radius: .4em;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.35);
	padding:20px;
}
.speech-bubble.left {
	left: 80px;
}
.speech-bubble.right {
	right: 80px;
}	
.speech-bubble.left:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-right-color: #FFC009;
	border-left: 0;
	border-bottom: 0;
	margin-top: -7.5px;
	margin-left: -15px;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.35);	
}
.speech-bubble.right:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 20px;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-left-color: #FFC009;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -15px;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.35);	
}

.speech-bubble .call-to-action { font-weight:bold; font-size:18px;padding-bottom:10px;}
.speech-bubble .info { font-size:13px;padding-top:10px;}
.speech-bubble .btn-primary {
    position: relative;
    padding: 10px 15px;
    padding-left: 50px;
	width:100%;
    color: #000;
    background-color: #fff;
    border:0px;
    border-radius: 8px;
    font-size: 16px;
    margin: 10px 0px;
    cursor: pointer;
}
.speech-bubble .btn-primary svg {
    width: 30px;
    position: absolute;
    left: 10px;
    top: 3px;
}

.speech-bubble .close-bubble {
	position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    background: 0 0;
    z-index: 10;
    cursor: pointer;		
}	
.speech-bubble .close-bubble:after {
    content: "×";
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    font: 20px/30px Arial,Helvetica Neue,Helvetica,sans-serif;
    color: #000;
    font-weight: 300;
    text-align: center;
    border-radius: 50%;
    border-width: 0;
    background-color: transparent;
    -webkit-transition: background-color .25s;
    transition: background-color .25s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
}
.speech-bubble .close-bubble:hover:after { background-color: #fff; }

.speech-bubble .bubble-form input { width:100%;border-radius:5px;border:0px; padding: 10px 15px; font-size: 18px;margin-top:10px;}

.speech-bubble form {display:none;}


@-webkit-keyframes hoverWave {
	0% {
	box-shadow:0 8px 10px rgba(155, 124, 1,0.3),0 0 0 0 rgba(155, 124, 1,0.2),0 0 0 0 rgba(155, 124, 1,0.2)
}
40% {
	box-shadow:0 8px 10px rgba(155, 124, 1,0.3),0 0 0 15px rgba(155, 124, 1,0.2),0 0 0 0 rgba(155, 124, 1,0.2)
}
80% {
	box-shadow:0 8px 10px rgba(155, 124, 1,0.3),0 0 0 30px rgba(155, 124, 1,0),0 0 0 26.7px rgba(155, 124, 1,0.067)
}
100% {
	box-shadow:0 8px 10px rgba(155, 124, 1,0.3),0 0 0 30px rgba(155, 124, 1,0),0 0 0 40px rgba(155, 124, 1,0.0)
}
}@keyframes hoverWave {
	0% {
	box-shadow:0 8px 10px rgba(155, 124, 1,0.3),0 0 0 0 rgba(155, 124, 1,0.2),0 0 0 0 rgba(155, 124, 1,0.2)
}
40% {
	box-shadow:0 8px 10px rgba(155, 124, 1,0.3),0 0 0 15px rgba(155, 124, 1,0.2),0 0 0 0 rgba(155, 124, 1,0.2)
}
80% {
	box-shadow:0 8px 10px rgba(155, 124, 1,0.3),0 0 0 30px rgba(155, 124, 1,0),0 0 0 26.7px rgba(155, 124, 1,0.067)
}
100% {
	box-shadow:0 8px 10px rgba(155, 124, 1,0.3),0 0 0 30px rgba(155, 124, 1,0),0 0 0 40px rgba(155, 124, 1,0.0)
}
}

/* animations icon */

@keyframes shake {
0% {
    transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	-webkit-transform: rotateZ(0deg);
}
10% {
    transform: rotateZ(-30deg);
	-ms-transform: rotateZ(-30deg);
	-webkit-transform: rotateZ(-30deg);
}
20% {
    transform: rotateZ(15deg);
	-ms-transform: rotateZ(15deg);
	-webkit-transform: rotateZ(15deg);
}
30% {
    transform: rotateZ(-10deg);
	-ms-transform: rotateZ(-10deg);
	-webkit-transform: rotateZ(-10deg);
}
40% {
    transform: rotateZ(7.5deg);
	-ms-transform: rotateZ(7.5deg);
	-webkit-transform: rotateZ(7.5deg);
}
50% {
    transform: rotateZ(-6deg);
	-ms-transform: rotateZ(-6deg);
	-webkit-transform: rotateZ(-6deg);
}
60% {
    transform: rotateZ(5deg);
	-ms-transform: rotateZ(5deg);
	-webkit-transform: rotateZ(5deg);
}
70% {
    transform: rotateZ(-4.28571deg);
	-ms-transform: rotateZ(-4.28571deg);
	-webkit-transform: rotateZ(-4.28571deg);
}
80% {
    transform: rotateZ(3.75deg);
	-ms-transform: rotateZ(3.75deg);
	-webkit-transform: rotateZ(3.75deg);
}
90% {
    transform: rotateZ(-3.33333deg);
	-ms-transform: rotateZ(-3.33333deg);
	-webkit-transform: rotateZ(-3.33333deg);
}
100% {
    transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	-webkit-transform: rotateZ(0deg);
}
}

@-webkit-keyframes shake {
0% {
    transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	-webkit-transform: rotateZ(0deg);
}
10% {
    transform: rotateZ(-30deg);
	-ms-transform: rotateZ(-30deg);
	-webkit-transform: rotateZ(-30deg);
}
20% {
    transform: rotateZ(15deg);
	-ms-transform: rotateZ(15deg);
	-webkit-transform: rotateZ(15deg);
}
30% {
    transform: rotateZ(-10deg);
	-ms-transform: rotateZ(-10deg);
	-webkit-transform: rotateZ(-10deg);
}
40% {
    transform: rotateZ(7.5deg);
	-ms-transform: rotateZ(7.5deg);
	-webkit-transform: rotateZ(7.5deg);
}
50% {
    transform: rotateZ(-6deg);
	-ms-transform: rotateZ(-6deg);
	-webkit-transform: rotateZ(-6deg);
}
60% {
    transform: rotateZ(5deg);
	-ms-transform: rotateZ(5deg);
	-webkit-transform: rotateZ(5deg);
}
70% {
    transform: rotateZ(-4.28571deg);
	-ms-transform: rotateZ(-4.28571deg);
	-webkit-transform: rotateZ(-4.28571deg);
}
80% {
    transform: rotateZ(3.75deg);
	-ms-transform: rotateZ(3.75deg);
	-webkit-transform: rotateZ(3.75deg);
}
90% {
    transform: rotateZ(-3.33333deg);
	-ms-transform: rotateZ(-3.33333deg);
	-webkit-transform: rotateZ(-3.33333deg);
}
100% {
    transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	-webkit-transform: rotateZ(0deg);
}
}

/* конец кнопки звонка */


@keyframes pulse {
	 0% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0)
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
  }
  100% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
}

@media (max-width: 767px) {
	#infinityCallback .wrapper {
		min-width:100%;
	}
	#infinityCallback .agreement { max-width:100%; }	
	#infinityCallback form {max-width:100%;}
	#infinityCallback .wrapper {background:#fff !important;}
	
	.infinity-call-button.bottom-right {
		bottom: 20px;
		left: 50%;
		margin-left: -15px;
	}	
	.infinity-call-button .call-back { box-shadow:none;}
}

@media (max-width: 480px) { 
#infinityCallback .call-to-action {text-align:center;}
#infinityCallback { height:100%;margin:0px; border-radius:0px;     z-index: 2147483647;}
#infinityCallback form {text-align:center;margin-right:20px;}
#infinityCallback .form-group .form-control {width:100%;}
 }

#infinityCallback .agreement { margin-bottom:0px; padding-bottom:30px;}
#infinityCallback .choosetime {float:none;}
#infinityCallback .timercontainer {line-height: 12px;}
#infinityCallback .choosetime label {font-weight:600;}
#infinityCallback .btn-primary svg { display: inline-block; padding-top:4px;}