@font-face {
    font-family: 'Open Sans';
    src: url(/assets/fonts/OpenSans-SemiBold.eot);
    src: url(/assets/fonts/OpenSans-SemiBold.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/OpenSans-SemiBold.woff2) format("woff2"), url(/assets/fonts/OpenSans-SemiBold.woff) format("woff"), url(/assets/fonts/OpenSans-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url(/assets/fonts/OpenSans-Italic.eot);
    src: url(/assets/fonts/OpenSans-Italic.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/OpenSans-Italic.woff2) format("woff2"), url(/assets/fonts/OpenSans-Italic.woff) format("woff"), url(/assets/fonts/OpenSans-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
	font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url(/assets/fonts/OpenSans-Regular.eot);
    src: url(/assets/fonts/OpenSans-Regular.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/OpenSans-Regular.woff2) format("woff2"), url(/assets/fonts/OpenSans-Regular.woff) format("woff"), url(/assets/fonts/OpenSans-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url(/assets/fonts/OpenSans-Light.eot);
    src: url(/assets/fonts/OpenSans-Light.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/OpenSans-Light.woff2) format("woff2"), url(/assets/fonts/OpenSans-Light.woff) format("woff"), url(/assets/fonts/OpenSans-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url(/assets/fonts/OpenSans-Bold.eot);
    src: url(/assets/fonts/OpenSans-Bold.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/OpenSans-Bold.woff2) format("woff2"), url(/assets/fonts/OpenSans-Bold.woff) format("woff"), url(/assets/fonts/OpenSans-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
	font-display: swap;
}

@media screen and (min-width: 1600px) {
    .container {
        max-width: 1392px;
    }
}



html {
  position: relative;
  min-height: 100%;
}


body {
	font-family: 'Open Sans', 'Arial', sans-serif;
}

a {
	-webkit-transition: .3s ease 0s;
    transition: .3s ease 0s;
	text-decoration:none;
	color:#000;
}
a:hover {color: #ffc009;}
a.underline {text-decoration:underline;}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img, svg {max-width:100%;}

textarea, input, button, label { outline: none; }
textarea:focus, input:focus, label:focus, button:active, button:focus {
    outline: none;
}

.h2 {font-size:1.7rem;font-weight:bold;}
.h3 {font-size:1.5rem;}

h2.bold {font-weight:bold;}
*:focus {
    outline: none;
}

html, body, .mm-page {
  height: 100%;
} 
.mm-page {
  display: flex;
  flex-direction: column;
}
.page-content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

@media (max-width: 768px) {
	h1 { font-size: 2.0rem; }
}
@media (max-width: 568px) {
	h1 {font-size: 1.9rem;}
}

/* ---------------------------------------------------
    Helpers
----------------------------------------------------- */

.avaliable {color: #308346;font-size:14px;}
.avaliable:before {font-family:'fa5p';content:'\f058';padding-right:5px;}

.order-only {color: darkorange;font-size:14px;}
.order-only:before {font-family:'fa5p';content:'\f06a';padding-right:5px;}

.analog {font-size:14px;}
.analog:before {font-family:'fa5p';content:'\f362';padding-right:7px;color:#999;}
.analog:hover {text-decoration:none;}

.price {font-weight:bold;font-size:18px;}
.price:after {font-family:'fa5p';content:'\f158';font-weight:400;font-size:16px;padding-left:5px;}

.three-columed-ul {columns: 3; -webkit-columns: 3; -moz-columns: 3;}

.text {color:#666;}
.text a {text-decoration:underline;}
.text ul {margin-left:15px;}
.text li {position:relative;padding-left:20px;}
.text li:before {content:"";width:7px;height:7px;background: #ffc009;position:absolute; left:0px;top:10px;}

.bg-white {background:#fff;}
.bg-gray {background:#f4f4f4;}
.shadow {box-shadow: 0 0 20px 0 rgba(0,0,0,.15);}


.form-control {border-radius:0px;border: 1px solid #dedede;}
.form-control:focus {
	border:1px solid #000;
	background: #f9f9f9;
	box-shadow: 0 0 0 0.2rem #ffc009;
}

.password-eye {cursor:pointer;color:#ccc;position:absolute;right:10px;top:40px;}
.password-eye.active {color:#000;}

.home-about {background:url(/assets/img/company.png) left top no-repeat; background-size:280px; }

.table-hover tbody tr:hover { background: #f4f4f4; }
@media(max-width:1200px){
	.home-about {background:transparent;}
}
@media(max-width:768px){
	.three-columed-ul {columns: 2; -webkit-columns: 2; -moz-columns: 2;}
}
/* ---------------------------------------------------
    HEADER
----------------------------------------------------- */

.header {}
.header-top {background: #f4f4f4;padding:10px 0px;}
.header-top-menu li {display:inline-block;padding-right:15px;}
.header-top-menu li a {font-size:14px;color:#333;}
.header-logo {display:inline-block;width:200px;}

.header-phone {font-weight:bold;position:relative;color:#000;font-weight:bold;font-size:17px;}
.header-phone:before {font-family:'fa5p'; content:'\f879';color:#ffc009;padding-right:10px;font-weight:400;}
.header-phone:hover {text-decoration:none;}

.header-feedback {position:relative;font-size:17px;}
.header-feedback:before {font-family:'fa5p'; content:'\f0e0';color:#ffc009;padding-right:10px;}
.header-feedback:hover {text-decoration:none;}

.header-icon {position:relative;padding-left:25px;}
.header-icon:hover {text-decoration:none;}
.header-icon:before {font-family:'fa5p';font-size:21px;padding-right:15px;}
.header_wishlist:before {content:"\f004";}
.header_cart:before {content: "\f07a";}
.header_cabinet:before {content: "\f406";}
.header_search:before {content: "\f002";}
.header_count {
    position: absolute;
    top: -14px;
    left: 40px;
    width: 24px;
    height: 24px;
    line-height: 20px;
    border-radius: 50%;
    background: #ffc009;
    border: 2px solid #fff;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
.header-icon:hover span {color:#000;-webkit-transition: .3s ease 0s;
    transition: .3s ease 0s;}
.header-icon:hover span:first-child {color: #ffc009;}

.header-search {position:relative;}
.header-search input {background: #f9f9f9;
    border:1px solid #dedede;
    padding: 5px 20px;
    height: 45px;
    width:100%;
	padding-right:250px;
}
.header-search input:focus {
	border:1px solid #000;
}
.header-submit {position:absolute;right:0px;top:0px;cursor:pointer;background:#000;color:#fff;border:0px;padding:10px 25px;}
.header-submit:hover {background:#ffc009;}
.header-search-helper {
	display:none;
	position:absolute;
	left:0px;
	width:100%;
	background:#fff;
	z-index:999;
	margin-top:24px;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
}
.header-search-helper-all {text-decoration:underline;padding:10px;cursor:pointer;}
.header-search-helper-all:hover {color: #ffc009;}
#srch-wrapper { height:300px; overflow:hidden; }

.use-custom-select .select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.use-custom-select .select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #000;
  width: 150px;
  height: 43px;
  border-left:0px solid #dedede;
  font-weight:bold;
}

.use-custom-select .select {position:absolute;right:98px;top:1px;}

.use-custom-select .select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background-color: #f4f4f4;*/
  padding: 10px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.use-custom-select .select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  top: 20px;
  right: 10px;
}
.use-custom-select .select-styled:hover {
  background-color: #ffc009;
}
.use-custom-select .select-styled:active, .select-styled.active {
  background-color: #ffc009;
}
.use-custom-select .select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #000 transparent;
}

.use-custom-select .select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f4f4f4;
  	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
}
.use-custom-select .select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  font-weight:normal;
}
.use-custom-select .select-options li:hover {
  text-decoration:underline;
}
.use-custom-select .select-options li[rel="hide"] {
  display: none;
}

@media(max-width:1200px){
	.header-feedback span {display:none;}
	.header-feedback:before {color:#000;}
}
@media(max-width:991px){
    
   .header-feedback span {display:inline;}
   .header-feedback:before {color:#ffc009;}
   .header-logo {width:auto;}
}
@media(max-width:768px){
	.header-icon span:first-child {display:none;}
	.use-custom-select .select {width:130px;}
	.header-search input {padding-right:230px;}
}

@media(max-width:576px){
	.header-top .text-right {text-align:center !important;}
	.header-top a {font-size:13px;}
	
	.search-mobile {position:fixed;left:0px;top:0px;width:100%;height:100%;background:#fff;z-index:99999;padding:0px 15px;}
	.use-custom-select .select, .header-submit 	{ position:relative;right:auto;top:auto;}
	.header-submit, .use-custom-select .select {width:100%;}
	.header-search input {padding-right: 20px;}
}

/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */    

.footer {background:#000;padding:30px 0px;padding-top:40px;color:#fff;position:relative;z-index:1;}
.footer a {color:#fff;}
.footer .footer-bottom {
    padding-top: 45px;
    border-top: 1px solid #18161f;
   
}
.footer .pol a {
    
    display: inline-block;
    border-bottom: 1px solid #ffc009;
   margin-right:15px;
}
.footer .pol a:hover {text-decoration:none;color: #ffc009;}
.footer .footer-menu li {
    margin-bottom: 20px;
}
.footer .footer-menu li a {
    color: #fff;
    font-size: 16px;
    display: inline-block;
    position: relative;
    padding-left: 24px;
}
.footer .footer-menu li a:hover { color: #ffc009; }
.footer .footer-menu li a:before {
    width: 12px;
    height: 1px;
    background: #ffc009;
    position: absolute;
    top: 8px;
    content: '';
    left: 0;
    top: 13px;
    
}
.footer .footer-logo {
    max-width: 200px;
}
.footer .footer-descriptor {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    margin: 20px 0 20px;
    max-width: 310px;
}
.social-list {
    justify-content: flex-start;
}

.social-list {
    margin-bottom: 20px;

}
.social-list {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    list-style-type: none;
}
.social-list li {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.social-list li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    fill: #ffffff;
    text-align: center;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
	font-size:22px;
	color:#ccc;
}
.social-list li a span {
    width: 22px;
}
.social-list li a:hover {
    background: #ffc009;
	color:#000;
	text-decoration:none;
}
.social-list li:nth-child(2) a {
    fill: #3b5998;
}
.social-list li:nth-child(5) a {
    fill: #1da1f2;
}

.footer-icon {display:block;position:relative;padding-left:35px;padding-bottom:20px;}
.footer-icon:hover {text-decoration:none;color: #ffc009;}
.footer-icon:before {font-family:'fa5p';color:#ffc009;position:absolute;left:0px;top:0px;font-size:20px;}
.footer-phone {font-weight:bold;font-size:18px;}
.footer-phone:before {content: '\f879';font-weight:400;}
.footer-mail:before {content: '\f0e0';}
.footer-address:before {content: '\f041';}

#subscribe {position:relative;margin-top:5px;margin-bottom:30px;}
#subscribe input {width:100%;padding:10px 20px;border:0px;}
#subscribe button {background:#ffc009;color:#000;padding:9px 15px;position:absolute;right:0;top:0px;box-sizing:border-box;height:100%;}
#subscribe button:hover {background:#000;color:#ffc009;border:1px solid #ffc009;}
/* ---------------------------------------------------
    Menu
----------------------------------------------------- */

.mm-page__blocker {
    background: url(/assets/img/dark-bg.png) left top repeat !important;
}
#mobile-menu ul {display:none;}

.catalog-btn {background: #f4f4f4;font-size:18px;text-align:center;font-weight:bold;padding:9px 0px;width:100%;border:0px;position:relative;}
.catalog-btn:before {font-family:'fa5p'; content: '\f0c9'; padding-right:10px;}
.catalog-btn.mob:before {padding:0px;}
.catalog-btn.opened:before {content: '\f00d';}
.catalog-btn:hover, .catalog-btn.opened {background:#ffc009;}

.catalog-btn.mob {display:none;}

.top-menu {
	position:absolute;
	margin-top:24px;
	background: #f4f4f4;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
	transform: translateY(-10px);
    transition: all 0.4s ease;
	visibility: hidden;
    opacity: 0;
	min-width:318px;
	z-index:999;	
}
.top-menu.opened {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}
.top-menu a {
	display:block;
	padding:8px 25px;
	color: #121115;
}
.top-menu a:hover, .top-menu .is-visible>a {
	color:#000;
	background:#ffc009;
	text-decoration:none;
}
.top-menu .submenu_arrow>a {
	position:relative;
}
.top-menu .submenu_arrow.has-subs>a:after {
	position:absolute;
	right:10px;
	color:#999;
	font-family:'fa5p';
	content:'\f054';
	top: 50%;
    margin-top: -10px;
}
.top-menu .submenu_arrow.is-visible.has-subs>a:after {
	color:#000;
}
.top-menu .is-visible .top-submenu {
    display: block;
}
.top-submenu {
	position:absolute;
	left:100%;
	top:0px;
	min-width:318px;
	background: #f4f4f4;
	min-height:100%;
	border-left:1px solid #dedede;
	display:none;
	
}
.fixed-menu-wrapper {min-height:93px;}
.fixed-menu.fixed {position:fixed;top:0px;left:0px;width:100%;z-index:99999;background:#fff;box-shadow: rgba(0,0,0,.2) 0 1px 10px;}

.fixed-menu.fixed .catalog-btn.mob {display:block;}
.fixed-menu.fixed .catalog-btn.desc {display:none !important;}

@media screen and (max-width: 991px) {
   .catalog-btn.mob {display:block;}
   .top-menu {display:none;}
}
@media screen and (max-width: 1200px) {
   .catalog-btn.desc {
	   font-size:16px;
   }
}
@media(max-width:576px){
	.catalog-btn.mob:before {padding-right:5px;}
	.fixed-menu-wrapper {
		min-height: auto;
	}
}


/* ---------------------------------------------------
    Mini-cart
----------------------------------------------------- */
.mini-cart {
	display:none;
	text-align:left;
	position:absolute;
	right:15px;
	margin-top:24px;
	width:530px;
	min-height:520px;
	background:#fff;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
	z-index:999;
	cursor:default;
}
.mini-header {font-size:22px;padding:15px 30px;font-weight:bold;}
.mini-footer {
	position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: #fff;
    width: 100%;
    
    padding: 30px;
    
    border-top: 1px solid #ededed;	
}	
.mini-footer {font-size:14px;}
.mini-footer .price {font-size:40px;display:block;margin-top:-10px;position:relative;}
.mini-footer .price:after {font-size:32px;position:absolute; right: -45px; top: 6px;}
.mini-content {height:330px;overflow:hidden;}


/* ---------------------------------------------------
    Breadcrumbs
----------------------------------------------------- */
.breadcrumbs {background:#000;}
.breadcrumbs a {color:#fff;}
.breadcrumbs li {display:inline-block;padding-right:20px;position:relative;}
.breadcrumbs li:after {font-family:'fa5p';content:'\f054';color:#fff;font-size:9px;position:absolute;right:5px;top:6px;}
.breadcrumbs li.active {color: #ffc009;}
.breadcrumbs li.active:after {display:none;}
@media screen and (max-width: 768px) {
   .breadcrumbs a, .breadcrumbs li {font-size:13px;}
   .breadcrumbs li:after {top:3px;}
}

/* ---------------------------------------------------
    Buttons
----------------------------------------------------- */

.btn {
	-webkit-transition: .3s ease 0s;
    transition: .3s ease 0s;
	border-radius:0px;
}
.btn.focus, .btn:focus {
	box-shadow:none;
}

.btn-default {
	background:#ffc009;
	padding:10px 15px;
}
.btn-default.gray {
	background: #f4f4f4;
}
.btn-default:hover {
	background:#000;
	color:#fff;
}


#back-to-top {
    bottom: 130px;
    right: 20px;
	position: fixed;
    z-index: 999;
    text-align: center;
    color: #fff;
	font-size:30px;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
	background:#ffc009;
	padding:0px 11px;
	
}
#back-to-top:hover {
    background:#000;
	color:#fff;
}
#back-to-top.show {
    opacity: 1;
}
@media (max-width: 768px) {
	#back-to-top { display:none; }
}

.btn-load-more {border:1px solid #ebebef;padding:10px 15px;width:185px;text-align:center;}
.btn-load-more:hover, .btn-load-more.loading {border-color:#000;}
.btn-load-more:before {
	font-family:'fa5p';
	content:'\f078';
	padding-right:10px;
}
.btn-load-more .lds-ellipsis {display:none;}
.btn-load-more.loading .lds-ellipsis {display: inline-block;}
.btn-load-more.loading:before {display:none;}
.btn-load-more.loading b {display:none;}
.lds-ellipsis {
  
  position: relative;
  width: 80px;
  height:11px;
}
.lds-ellipsis span {
  position: absolute;
  top: 0px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #666;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis span:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis span:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis span:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis span:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


.btn-reset {border:1px solid #000;padding:10px 15px;}
.btn-reset:hover {background:#000;color:#fff !important;}

.jivo, .jivo-open {position:fixed;right:20px;bottom:0px;z-index:999;cursor:pointer;}
.jivo-open {right:0px;}

/* ---------------------------------------------------
    custom checkbox
----------------------------------------------------- */

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-color: #000;
}
.custom-control-input:not(:disabled):active~.custom-control-label::before, .custom-control-input:checked~.custom-control-label::before {
    background-color: #ffc009;
    border-color: #ffc009;
}
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem #ffc009;
}
.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #000;
}

.radio-type {
	margin-bottom:20px;	
}
.radio-type label {font-weight:600;font-size:17px;}
.radio-type small {display:block;padding-left:30px;}
.rd {
  display: none;
}

.rd + label {
  display: inline-block;
  min-height: 20px;
  padding-left: 32px;
  margin-right: 40px;
  background: url(../img/rd.png) no-repeat 0 2px;
  cursor: pointer;
  transition: all 0.4s ease;
  color:#666;
}

.rd:checked + label {
  background-image: url(../img/rd_r.png);
  color:#000;
}

.ch {
  display: none;
}

.ch + label {
  display: block;
  padding-left: 30px;
  min-height: 22px;
  cursor: pointer;
  position: relative;
  line-height: 24px;
}
.ch + label:after {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 5px;
  transition: 0.3s ease 0s;
}
.ch + label:before {
 content:"\f00c";
 color:#000;
  font-family:'fa5p';
	font-size:13px;
  border-radius: 3px;
  position: absolute;
  left: 1px;
  top: 1px;
  opacity: 0;
  z-index: 5;
  transition: 0.3s ease 0s;
}

.ch:checked + label:after {
  background-color: #ffc009;
  border-color: #000;
}
.ch:checked + label:before {
  opacity: 1;
}

/* modals */

#success-modal i {font-size:70px;color:green;color:#308346;}