/* ---------------------------------------------------
    Home slider
----------------------------------------------------- */
.slick-dotted.slick-slider {margin-bottom:0px;}
.slick-prev, .slick-next {width:35px;height:35px;}
.home-slider .slick-prev, .home-slider .slick-next, .home-slider .slick-dots {z-index:1;transition: .3s;opacity: 0;}
.home-slider {display:none;}
.home-slider:hover .slick-next {
    right: 15px;
	opacity: 1;
}
.home-slider:hover .slick-prev {
    left: 15px;
	opacity: 1;
}
.home-slider:hover .slick-dots {bottom:10px;opacity: 1;}
.home-slider .slick-dots li button {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    padding: 3px;
    background: #fff;
    border: 2px solid #fff;
	opacity:0.7;
}
.home-slider .slick-prev:before, .home-slider .slick-next:before {font-size:35px;}
.home-slider .slick-dots li button:before {content:'';}
.home-slider .slick-dots li.slick-active button {background:#ffc009;opacity:5;}
.home-slider-item {position:relative;}
.home-slider-wrapper {position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;}
.home-slider-info {padding-left:90px;max-width: 650px;}
.home-slider-info.text-white {color:#fff;text-shadow: 1px 1px 1px #000;} 
.home-slider-desc {font-size:20px;margin-bottom:30px;}
.home-slider-title {font-weight:bold;font-size:45px;margin-bottom:30px;}
.home-slider-info .btn {background:#ffc009;text-shadow:none;padding:10px 30px;font-size:18px;}
.home-slider-info .btn:hover {background-color: #FCB026;}

@media(max-width:1200px){
	.home-slider-info { max-width: 500px;}
	.home-slider-title {font-size:35px;}
	.home-slider-desc {font-size:16px; }
}
@media screen and (max-width: 991px) {
   .home-slider-wrapper {position:relative;background: #ffc009;height:auto;}
   .home-slider-title {font-size:25px;margin-bottom:20px;}
   .home-slider-info {width:100%;max-width:100%;padding:20px 25px;padding-bottom:40px;}
   .home-slider-info .btn {border:1px solid #000;}
   .home-slider-desc {margin-bottom: 20px;}
   .home-slider .slick-dots { bottom: 10px; opacity: 1; }
}

/* ---------------------------------------------------
    Homepage tabs
----------------------------------------------------- */
.home-tabs {
	overflow:hidden;
	padding-top:1px;
}

.home-tabs .nav-tabs {
  display:none;
  border:0px;
  border-bottom:5px solid #ffc009;
}
.home-tabs .nav-tabs .nav-item {
    margin-bottom: 0px; 
	max-width:300px;
}
.home-tabs .nav-tabs .nav-link { border:0px; position:relative;padding-bottom:20px;height: 100%; font-size: 25px; color:#666; }
.home-tabs .nav-tabs .nav-link:after { 
	right: 100%;
	content: "";
    position: absolute;
	right: 100%;
    bottom:-5px;
    display: block;
	width:100%;
    height: 5px;
    transition: right .3s ease-in-out;
}
.home-tabs .nav-tabs .nav-link.active { text-decoration:none; font-weight:bold; color:#000; }
.home-tabs .nav-tabs .nav-link.active:after { background:#000; right:0px; }
.home-tabs .card-body {padding:2em;}

.home-tabs li a {display:block;padding:7px 0px;}

@media(min-width:991px) {
	  
  .home-tabs .nav-tabs {
    display: flex;
  }

  .home-tabs .card {
    border: none;
	/*border-top:1px solid #ccc; */
  }

  .home-tabs .card .card-header {
    display:none;
  }  

  .home-tabs .card .collapse{
    display:block;
  }
  
  
}
@media(max-width:990px){
  
   .home-tabs .tab-content .tab-pane {
    display: block !important;
    opacity: 1;
  }
  
  .home-tabs .card { border:0px; border-radius:0px; }
  .home-tabs .card-header { border: 1px solid #ebebef; background:transparent; margin-top: -1px;padding:0px; }
  .home-tabs .card-header a {display:block;padding: .75rem 1.25rem; text-decoration:none; font-weight:bold; position:realtive; }
  .home-tabs .card-header a:after {font-family:'fa5p'; content:"\f078"; position:absolute; right:15px;transition: transform 0.3s linear; transform: rotate(180deg);}
  .home-tabs .card-header a.collapsed:after {transform: rotate(0deg);}
  .home-tabs .card-header a.collapsed { text-decoration:underline; font-weight:normal;}
  
  .home-tabs .card-body {padding:1em;}
}
@media(max-width:576px){
	.home-tabs li a {font-size:12px;}
}

/* ---------------------------------------------------
    Homepage TO
----------------------------------------------------- */
a.to { 
	display:block;
	background-image:url('/assets/img/company.png');
	background-repeat:no-repeat;
	background-size:170px;
	background-position:center 60px;
	background-color:#f4f4f4;
	padding:30px;
	padding-right:90px;
	padding-top:280px;
	font-weight:bold;
	font-size:18px;
	position:relative;
	
}
a.to:after {font-family:'fa5p';content:'\f054'; position:absolute;bottom:20px; right:30px;font-size:70px;color:#b3b3b3;}
a.to:hover:after {color: #ffc009;}
@media screen and (max-width: 1200px) {
   a.to { 
		background-position:30px center;
		padding-top:90px;
		padding-bottom:90px;
		padding-left:250px;
	}
	a.to:after {bottom:30px; right:60px;font-size:100px;}
}
@media screen and (max-width: 768px) {
	a.to { 
		padding-left:230px;
	}
	a.to:after {bottom:50px; right:30px;font-size:100px;}
}
@media(max-width:576px){
	  a.to { 
		background-position:center 60px;
		padding-right:90px;
		padding-top:280px;
		padding-bottom:30px;
		padding-left:30px;
	}
	a.to:after {bottom:20px; right:30px;font-size:70px;}
}

.page-wrapper {
	height:100%;
	position:relative;
	overflow:hidden;
	z-index:1;
}
.page-wrapper:before {
	content:'';
	position:absolute;
	width:100%;
	height:100%;
	background:#f4f4f4;
	right:0px;
	top:0px;
	margin-right:-50%;
	
}
@media screen and (max-width: 991px) {
	.page-wrapper {height:auto;}
	.page-wrapper:before {display:none;}
}

/* ---------------------------------------------------
    Filter
----------------------------------------------------- */
.filter-item {
	padding:15px;
	border-bottom: 1px solid #dedede;
	margin-top:20px;
}
.filter-item-title {font-weight:bold;padding-bottom:10px;}
.filter-link {display:block;font-size:14px;padding-left:20px;position:relative;color:#333;cursor:pointer;}
.filter-link:before {font-family:'fa5p'; content:'\f0c8';position:absolute;left:0px;color:#999;}
.filter-link.checked:before {content:'\f14a';font-weight:bold;}
.filter-link:hover:before {color: #ffc009;}
.filter-show-all, .filter-hide-all {text-decoration:underline;padding-top:15px;cursor:pointer;font-size:14px;}
.filter-show-all:hover, .filter-hide-all:hover {color: #ffc009;}

.filter-search, .filter-price-input {width:100%;font-size:14px;padding:5px;border:1px solid #dedede;margin-bottom:10px;}
.filter-all-wrapper { max-height:210px;}

.filter-menu { font-size:14px;color:#000;}
.filter-menu a { font-size:14px; }
.filter-menu>li>ul {padding-left:15px;}
.filter-menu>li>ul>li>a {color:#999;}

.filter-price {position:relative;}
.filter-price-input {padding-left:25px;}
.filter-price span {position:absolute;top:6px;left:20px;font-size:14px;}
@media screen and (max-width: 991px) {
	.filter-wrapper {
		position:fixed;
		background:#fff;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		overflow: scroll;
		z-index:2147483647;
		display:none;
		padding-bottom:100px;
	}
	.filter-open {text-align:center;padding:10px 0px;background: #f4f4f4;font-weight:bold;cursor:pointer;margin:15px 0px;}
	.filter-open:hover {color:#fff;background:#000;}
	.filter-close {cursor:pointer;font-size:20px;padding-top:15px;padding-right:15px;}
}

/* ---------------------------------------------------
    pushbar
----------------------------------------------------- */
.pushbar_overlay {
    will-change: auto;
    transition: none;
    background: #000;
}
html.pushbar_locked .pushbar_overlay { opacity:0.5;}
[data-pushbar-direction=right][data-pushbar-id] {
	width:740px;
}
.pushbar-content {margin:15px;}
.pushbar-title {text-align:center;font-weight:bold;font-size:1.5rem;padding:15px;position:relative;  box-shadow: rgba(0,0,0,.2) 0 1px 10px; padding-right:65px;}
.pushbar-title i {position:absolute;right:0px;top:0px;height:100%;border-left:1px solid #ebebef;width: 50px; cursor: pointer; padding-top: 20px;}
.pushbar-title i:hover {color:#fff;background:#000;}
@media screen and (max-width: 768px) {
	[data-pushbar-direction=right][data-pushbar-id] {
		width:100%;
	}
	.pushbar-title {font-size:1rem;}
}

/* ---------------------------------------------------
    cart
----------------------------------------------------- */

.cart-header {
	border-bottom: 1px solid #ebebef;
	border-top: 1px solid #ebebef;
	font-weight:bold;
	padding:20px 0px;
	font-size:18px;
}
.cart-item {
	border-bottom: 1px solid #ebebef;
	padding:20px 0px;
	position:relative;
}
.cart-item.not-found, .cart-item.not-found:hover {
	background-color: #f8d7da;
}


.cart-item:hover {background:#fcfcfc;}
.cart-item .price {font-size:22px;}
.cart-item .price:after {font-size:19px;}
.cart-item.ordered .price {font-size:16px;}
.cart-item.ordered .price:after {font-size:15px;}
.cart-item .get-price {font-weight:normal;text-decoration:underline;font-size:16px;cursor:pointer;}

.cart-total span {font-size:18px;}
.cart-total .price {font-size:35px;padding-left:20px;}
.cart-total .price:after {font-size:28px;}
.cart-total.ordered .price {font-size:25px;padding-left:20px;}
.cart-total.ordered .price:after {font-size:22px;}

.cart-total .price {font-size:35px;padding-left:20px;}
.cart-total .price:after {font-size:28px;}

.cart-total .vin {font-weight:bold;padding-left:23px;}

#check-order {max-width:500px;}

.vin-list li {display:block;border-bottom:1px solid #ebebef;padding:10px 0px; cursor:pointer; }
.vin-list li:hover {background:#fcfcfc;text-decoration:underline;}

@media screen and (max-width: 768px) {
	.cart-item-drop {
		position:absolute;
		right:10px;
		top:10px;
	}
	.cart-item .col-md-1 { position:static; }
	.cart-total .price {font-size:23px;padding-left:15px;}
	.cart-total .price:after {font-size:18px;}
	
}

/* ---------------------------------------------------
    checkout
----------------------------------------------------- */
.checkout-del-type {
	font-weight:bold;
	cursor:pointer;
	border:2px solid #ebebef;
	border-radius:5px;
	margin-right:20px;
	color:#666;
	padding:20px;
}
.checkout-del-type.active {
	border:2px solid #000;
	color:#000;
}
.checkout-del-tab {
	display:none;
}
.checkout-del-tab.active {
	display:block;
	padding-top:30px;
}

.checkout-info {
	padding:20px;
	border: 1px solid #ebebef;
}
.checkout-info-total .price {
	font-size:25px;
}
.checkout-info-total .price:after {
	font-size:20px;
}
.checkout-info-total td {vertical-align:middle;}

.ss-main .ss-single-selected {height:40px;}
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-option-selected {background:#FFF9E7;}
.ss-content .ss-list .ss-option.ss-highlighted, .ss-content .ss-list .ss-option:hover {color:#000;background:#ffc009;}

#checkout-map {height:500px;}

/* ---------------------------------------------------
    contacts
----------------------------------------------------- */

#contacts-map {height:500px;}
.contacts-list {columns: 6; -webkit-columns: 6; -moz-columns: 6;}
.contacts-list a.active {font-weight:bold;}
.ic {position:relative;padding-left:25px;}
.ic:before {
	position:absolute;
	left:0px;
	font-family:'fa5p';
	color:#999;
}
.ic.contacts-phone-ic:before {
	content:'\f879';
}
.ic.contacts-email-ic:before {
	content:'\f0e0';
} 
.ic.contacts-map-ic:before {
	content:'\f3c5';
}
@media screen and (max-width: 991px) {
	.contacts-list {columns: 4; -webkit-columns: 4; -moz-columns: 4;}
	.feedback .h-100 {
		height: auto!important;
	}
}
@media screen and (max-width: 768px) {
	.contacts-list {columns: 2; -webkit-columns: 2; -moz-columns: 2;}
}   

/* ------------------------------------------
lk
---------------------------------------------*/

.lk-menu a {font-size:19px;display:block;position:relative;padding-bottom:15px; padding-left:30px;}
.lk-menu a.active {font-weight:bold;}
.lk-menu a.active:hover {color:#000;text-decoration:none;}
.lk-menu li {position:relative;}
.lk-menu li:before {font-family:'fa5p';position:absolute;left:0;top:2px;color:#666;}
.lk-logout:before {content: '\f2f5'; }
.lk-history:before {content: '\f1da'; }
.lk-profile:before {content: '\f007';}
.lk-opt:before {content: '\f290';}
.lk-machines:before {content: '\f722';}

.lk-table-header a {display:block; background: #f4f4f4;padding:15px;}
.lk-table-header a.active {background: #ffc009;color:#000;}
.lk-table-header a.sortable.active:after {color:#000;}
.lk-table-header a.sortable:after {position:absolute;font-family:'fa5p';content:'\f0dc';right:30px;color:#999;font-weight:bold;}
.lk-table-header a.sortable.desc:after {content:'\f0dd';}
.lk-table-header a.sortable.asc:after {content:'\f0de';}

.history-order {
border: 1px solid #ebebef;
margin-bottom:10px;
cursor:pointer;
}
.history-order strong {display:block;}
.history-order .date {color:#666;}
.history-order:hover { border: 1px solid #000;}
.history-order div {padding:20px 30px;}
.history-order a:hover {text-decoration:none !important;color:#000 !important;}
.ho-title {padding:0px !important;font-weight:bold; display:none;}
@media(max-width:768px){
	.ho-title {display:block;}
}
@media(max-width:576px){
	.history-order div {padding:15px 30px;}
}

.buyer-info {border-bottom: 1px solid #ebebef;}
.user-table {min-width:400px;}

/*
vin
*/

.vin-menu {
	font-size:15px;
}
.vin-menu>li {
	margin-bottom:10px;
	cursor:pointer;
	padding-left:25px;
	position:relative;
}
.vin-menu>li:before {
	font-family:'fa5p';
	content:'\f0fe';
	font-weight:400;
	position:absolute;
	left:0;
	top:2px;
	color:#999;
}.vin-menu>li.active:before {
	content:'\f146';
}
.vin-menu>li:hover {
	text-decoration:underline;
}
.vin-menu>li.active:hover  {
	text-decoration:none;
}
.vin-menu ul {
	margin:10px 0px;
	display:none;
	margin-left:20px;
}
.vin-menu li.active ul {
	display:block;
}
.vin-menu>li a {font-size:13px;color:#666;display:block;padding:5px 0px;}
.vin-menu>li a.current {font-weight:bold;}

.vin-catalog-toggle:after {font-family:'fa5p';padding-left:10px;}
.vin-catalog-toggle.btn-reset:after {content:'\f078';}
.vin-catalog-toggle.btn-default:after {content:'\f077';}


/* 
parts loader
*/
.parts-loader .h3 {position:relative;padding-left:60px;margin-bottom:0px;}
.parts-loader .step {opacity:0.5;}
.parts-loader .step .h3:before {background:#ccc;color:#666; border: 3px solid #ccc;}
.parts-loader .step.active, .parts-loader .step.validated {opacity:1;}
.parts-loader .step.active .h3:before, .parts-loader .step.validated .h3:before {background: #ffc009;color:#000; border: 3px solid #ffc009;}
.parts-loader .step.validated .h3:before {background: #fff;  color:#000;}
.parts-loader .step-1 .h3:before, .parts-loader .step-2 .h3:before, .parts-loader .step-3 .h3:before, .parts-loader .step-1-1 .h3:before{
	font-family: 'fa5p';
	display:block;
	width:40px;
	height:40px;
	border-radius:50%;
	text-align:center;
	line-height:36px;
	position:absolute;
	left:0px;
	top:-5px;
}
.parts-loader .step-1 .h3:before {
	content: '\f013';
}
.parts-loader .step-1-1 .h3:before {
	content: '\f158';
}
.parts-loader .step-2 .h3:before {
	content: '\f007';
}
.parts-loader .step-3 .h3:before {
	content: '\f46c';
}
.step-content {margin-left:18px;margin-bottom:15px;margin-top:15px;padding-left:40px;padding-top:15px;padding-bottom:15px;}
.parts-loader .step.active .step-content, .parts-loader .step.validated .step-content {border-left: 2px solid #ffc009;}
.parts-loader .step .step-content {border-left: 2px solid #ccc;}
.parts-loader .step-3 .step-content, .parts-loader .step.step-3.validated .step-content {border:0px !important;}

.parts-loader .step .step-edit {font-size:14px;display:inline-block;cursor:pointer;visibility:hidden;}
.parts-loader .step .step-edit:hover {color:#ffc009;text-decoration:underline;}
.parts-loader .step.validated .step-edit {visibility:visible;}

#drop {text-align:center;background: #f9f9f9;border: 1px solid #dedede;padding:30px 0px;margin-bottom:10px;}
#drop.dragging {background:#dedede;}
#drop.dragging i{color:#000;}
#drop i {display:inline-block;padding-bottom:20px;font-size:60px;color:#999;}
#xlf {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.step-1.error #drop {border:1px solid red;}
.step-1.error span.format {color:red;font-weight:bold;}

.step-tabs {border-bottom:1px solid #dedede;margin-bottom:20px;}
.step-tabs li {display:inline-block;}
.step-tabs li a {display:block;margin-right:20px;padding-bottom:10px;border-bottom:2px solid #fff;}
.step-tabs li a.active {border-bottom:2px solid #ffc009;}
.step-tabs li a.active:hover {text-decoration:none;color:#000;}

.step .step-wrapper, .step .validated-info {display:none;}
.step.active .step-wrapper {display:block;}
.step.validated .validated-info {display:block;}

.r-table {width:100%;}
.r-table th, .r-table td {padding:5px;}
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		.r-table, .r-table thead, .r-table tbody, .r-table th, .r-table td, .r-table tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		.r-table thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

   .r-table  tr {
      margin: 0 0 1rem 0;
    }
      
    .r-table tr:nth-child(odd) {
      background: #ccc;
    }
    
		.r-table td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		.r-table td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		.r-table td:nth-of-type(1):before { content: "Бренд"; }
		.r-table td:nth-of-type(2):before { content: "Артикул"; }
		.r-table td:nth-of-type(3):before { content: "Наименование"; }
		.r-table td:nth-of-type(4):before { content: "Модель"; }
		.r-table td:nth-of-type(5):before { content: "Количество"; }
		.r-table td:nth-of-type(6):before { content: "Оригинал/Аналог"; }
		.r-table td:nth-of-type(7):before { content: ""; }

	}
	
.tr-clone-add, .tr-clone-remove { cursor:pointer; font-size:20px;}	
.tr-clone-remove {color:#721c24;}
.tr-clone-remove.disabled {cursor:default;opacity:0.3;}
.tr-clone-add {color:#155724;}